.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.todo-app {
    width: 800px;
}

h2 {
    font-family: sans-serif;
}