.todo {
    border-bottom: 1px solid lightgray;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo input {
    border: none;
    padding: 30px 0 30px 0;
    font-size: 15px;
    flex-grow: 1;
}

.todo button {
    cursor: pointer;
    padding: 5px 10px;
    float: right;
    border-radius: 3px;
    border: 1px solid lightgray;
}